header {
	max-width: 940px;
	margin: 0 auto;
}
header h1 {
	font-size: 3rem;
}
header p {
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 1.1;
	margin-bottom: 1rem;
}

header h1 + p {
	border-top: 3px double #dbd1b5;
	padding-top: 1rem;
}

header p + p {
	font-size: 1rem;
	color: #666;
}



























